services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: cs2shop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: StrongPass2026!
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis_data:/data
volumes:
  postgres_data:
  redis_data: